Options -MultiViews
RewriteEngine On
RewriteBase /projects/img2geojson/

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /projects/img2geojson/index.html [L]
